@import "tailwindcss/preflight";
@tailwind utilities;


@import "tailwindcss";

html {
  margin: 0;
  padding: 0;
background-color: #fffffffb;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");

}


:root {
  --bg-white: #ffffff;
  --bg-comp-black: #080708;
  --prim-oxblood: #960200;
  --prim-emerald: #06BA63;
  --sec-grey: #cecece1b;
  --sec-comp-sunflower-gold: #F2AF29;
  


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main-cyan: #0e7490;
    --main-amber: #b45309;
  }
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "MuseoModerno", sans-serif;
   margin: 0;
   padding: 0;
  
}

.space-grotesk{
  font-family: var(--font-space-grotesk), sans-serif;
}

.text-outline-shadow {
  text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(125, 125, 126),
    -1px 1px 0 var(--main-cyan),
    1px 1px 0 rgb(58, 56, 56);
}


.title-tag{
@apply absolute z-0 p-2 rounded-b-2xl text-center text-[black]  font-bold bg-[black] 
         shadow-md shadow-[gray]  hover:text-[black] 
         transition-all duration-500 placeholder-[orange] hover:placeholder-[black];
  
}

/* Loadin Box */
.loader{
          width: 48px;
          height: 48px;
          margin: auto;
          position: relative;
        }
        .loader:before {
            content: '';
            width: 48px;
            height: 5px;
            background: #000;
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
          }
          .loader:after {
            content: '';
            width: 100%;
            height: 100%;
            background: #000000;
            animation: bxSpin 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
          }
        @keyframes bxSpin {
          17% {
            border-bottom-right-radius: 3px;
          }
          25% {
            transform: translateY(9px) rotate(22.5deg);
          }
          50% {
            transform: translateY(18px) scale(1, .9) rotate(45deg);
            border-bottom-right-radius: 40px;
          }
          75% {
            transform: translateY(9px) rotate(67.5deg);
          }
          100% {
            transform: translateY(0) rotate(90deg);
          }
        }

        @keyframes shadow {
          0%, 100% {
            transform: scale(1, 1);
          }
          50% {
            transform: scale(1.2, 1);
          }
        }


.loader-component {
      width: 33.3vw;
      position: relative;

      top: 220px;
      height: 220px;
      transform: scale(3);
      background:
          linear-gradient(0.25turn, transparent, #FFF, transparent),
          linear-gradient(#DDD, #DDD),
          linear-gradient(#DDD, #DDD),
          linear-gradient(#DDD, #DDD);
      background-color: #fff;
      background-repeat: no-repeat;
      background-size:  220px, 615px 130px, 100px 15px, 150px 150px;
      background-position: -255px 0, 0 0, 15px 150px, 15px 180px;
      animation: loading 1.5s infinite;
  }

@keyframes loading {
  to {
    background-position: 220px 0, 0 0, 15px 150px, 15px 180px;
  }
}


